<div class="container">
  <div class="window">
    <div class="content">
      <div class="welcome">Here you can create a new glamping set</div>
      <div class="subtitle">GlampingToGo - Glamorous Camping</div>
      <div class="input-fields">
        <%= simple_form_for(@glamping_set) do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name %>
          <%= f.label :description %>
          <%= f.text_field :description %>
          <%= f.label :total_occupancy %>
          <%= f.number_field :total_occupancy %>
          <%= f.label :price_per_night %>
          <%= f.number_field :price_per_night %>
          <%= f.input :photo, as: :file %>

          <div><button class="ghost-round full width"><%= f.submit %></button></div>
        <% end %>
      </div>
  </div>
</div>
