<div class= "body-show">

  <div class= "main-container">
    <h1>Your booking</h1>

    <p>Name of the set:</P>
    <p><%= @booking.glamping_set.name %></p>
    <p>Start date: <%=  @booking.start_date %></p>
    <p>End date: <%= @booking.end_date %></p>
    <p>Pickup type: <%= @booking.pickup_type %></p>

    <%= cl_image_tag @booking.glamping_set.photo.key, crop: :fill %>

    <div class = "delete-button1">
      <%= link_to "Delete booking", booking_path(@booking),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    </div>

  </div>
</div>
