
<p><%= @booking.start_date %></p>
<p><%= @booking.end_date %></p>
<p><%= @booking.price_per_night %></p>
<p><%= @booking.set_id %></p>
<p><%= @booking.user_id %></p>
<p><%= @booking.pick_up_type %></p>
